body {
  height: 100%;
}


.ui.search .prompt {
  border-radius: 5px;
}
/* .toc {
  position: fixed;
  z-index: 1;
  background-color: #000000;
  width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
} */
.ui.floated.menu {
    margin: 0;
}

.ui.left.sidebar {
    /* right: auto;
    left: 0; */
}

.ui.inverted.menu {
  background-color: #000000;
}

.breadnav {
  width: 100vw;
}

.nav {
  height: 100vw;
}
.navMobile {
  height: 100vw;
}

.toc2 {
  position: fixed;

  /* z-index: 1; */

  background-color: #000000;
  width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
}

.ui.left.sidebar, .ui.right.sidebar {
    width: 300px;
}
.ui.menu.fluid, .ui.vertical.menu.fluid {
    /* height: 100%; */
    width: 400px;
    height: auto;
}
.ui.menu.mobile {
  margin-bottom: 0;
}

.mainContent {
  margin-left: 300px;
}
@media only screen and (max-width: 767px) {
  .mainContent {
    margin-left: 0;
    /* margin-right:130px; */
  }
  .pusher.content {
    top: 0;
    /* margin-top: 0; */
    position: absolute;
  }
}
@media only screen and (min-width: 767px) {
  .mainContent {
    margin-left: 0;
    margin-left:300px;
  }
}
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
/* #requirements + ul > li > code, #ingredients + ul > li > code, #method + ol > li > code { */

.content code {
  background-color: #e6e6e6;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}
.content li {

/* #requirements + ul > li, #ingredients + ul > li, #method + ol > li { */
  padding-bottom: 5px;
}




.pagination {
	margin: 20px auto 0;
  text-align: center;
}

@media (min-width: 768px) {
	.pagination {
		margin-top: 40px
	}
}

.pagination_item {
	display: inline-block;
	margin-left: 2.5px;
	margin-right: 2.5px
}

.pagination_link {
	background: #f2f4f6;
	border-bottom: 3px solid #cbd1d8;
	color: #394a5c;
	display: block;
	font-weight: bold;
	font-family: "Volkhov", Georgia, Palatino, Garamond, Bookman, sans-serif;
	padding: 5px 15px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease
}

@media (min-width: 768px) {
	.pagination_link:hover {
		background: #fff;
		border-bottom-color: #bcc2c9
	}
}

.pagination_link-first,
.pagination_link-previous,
.pagination_link-next,
.pagination_link-last {
	background: transparent;
	border-bottom-color: transparent;
	color: #9aa2aa
}

@media (min-width: 768px) {
	.pagination_link-previous:hover,
	.pagination_link-next:hover {
		background: #f2f4f6;
		border-bottom-color: #cbd1d8
	}
}

.pagination_link-current {
	background: #fff;
	border-bottom-color: #3182d8;
	color: #3182d8;
	cursor: default
}

@media (min-width: 768px) {
	.pagination_link-current:hover {
		border-bottom-color: #3182d8;
		color: #3182d8
	}
}

@media (min-width: 576px) {
	.pagination_item {
		/* margin-left: 5px;
		margin-right: 5px */
	}
	.pagination_link {
		padding: 10px 20px
	}
}

.row_pagination.-has-dark-theme .pagination_link {
	background-color: #2f3d4c;
	border-bottom: 3px solid #394a5c
}

.row_pagination.-has-dark-theme .pagination_link-first,
.row_pagination.-has-dark-theme .pagination_link-previous,
.row_pagination.-has-dark-theme .pagination_link-next,
.row_pagination.-has-dark-theme .pagination_link-last {
	background: transparent;
	border-bottom-color: transparent;
	color: #9aa2aa
}

@media (min-width: 768px) {
	.row_pagination.-has-dark-theme .pagination_link:hover {
		background-color: #25303c;
		border-bottom-color: #42566c
	}
}

.row_pagination.-has-dark-theme .pagination_link-current {
	background-color: #25303c;
	border-bottom-color: #3182d8
}

@media (min-width: 768px) {
	.row_pagination.-has-dark-theme .pagination_link-current:hover {
		border-bottom-color: #3182d8
	}
}

#TableOfContents > ul > li:first-child {
  display:none;
}

span.rw-ui-info-container {
  display:none;
}
div.rw-ui-container {
  margin-top: -5px;
  margin-bottom: 5px;
}
