<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <!-- <div class="ui grid" style="border:0">
  	  <div class="mobile only row">
    		<div class="column">
    			<div class="ui menu">
    				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
    			</div>
    		</div>
    	</div>
    </div> -->
      <div class="ui menu mobile only">
        <a id="mobile_item" class="item"><i class="bars icon"></i></a>
      </div>

    <div class="ui pushable segment" style="border:0;margin-top: 0;">
      <div class="ui sidebar vertical mobile only" style="position: sticky;">
        {{- partial "navigation.html" . -}}
      </div>
      <div class="ui menu mobile or lower hidden left floated" style="width: 350px;">
        {{- partial "navigation.html" . -}}
      </div>
      <div class="pusher content">
          {{ partial "breadcrumbs.html" . }}
          <div id="content" class="ui basic segment">
            {{- block "main" . }}{{- end }}

            <div class="ui divider"></div>
            {{- partial "footer.html" . -}}
          </div>
      </div>
    </div>
  </body>
  {{- partial "script.html" . -}}
</html>
<!-- https://gist.github.com/bl4ck5un/ed27db3d653011b32ee0877058abac7d -->
