{{ define "main" }}

<div class="ui doubling stackable grid container">
  <div class="sixteen wide column">
    <div class="ui card fluid" style="">
      {{ if eq .Type "book" }}
        {{ with .Resources.Match "*cover*" }}
          <div class="image">
          {{ range . }}
            <img src="{{ .RelPermalink }}" style="max-height:300px; width:auto; margin:auto">
          {{ end }}
          </div>
        {{ end }}
      {{ else }}
        {{ $images := .Resources.Match "*finished*" }}
        {{ if gt (len $images) 0 }}
          {{ with $images }}
            <div class="image">
            {{ range (first 1 .) }}
              <img src="{{ .RelPermalink }}" style="max-width:1000px; height:auto; margin:auto">
            {{ end }}
            </div>
          {{ end }}
        {{ else }}
            <div class="image">
              <img src="/img/image.png" style="max-width:1000px; height:auto; margin:auto">
            </div>
        {{ end }}
      {{ end }}
      <div class="content">
        <div class="header">{{ .Title }}</div>
        <div class="meta">{{ partial "metadata.html" . }}</div>
        <div class="description">
          <p>{{ .Content }}</p>
        </div>
      </div>
      <div class="extra content">
        {{ template "_internal/disqus.html" . }}
        <!-- <i class="check icon"></i>
        121 Votes -->
      </div>
    </div>
  </div>
</div>
<!--
Open Recipe Formats
https://open-recipe-format.readthedocs.io/en/latest/topics/tutorials/walkthrough.html
https://whisk.com/blog/how-to-write-a-recipe/
https://schema.org/Recipe
http://microformats.org/wiki/h-recipe

Example layouts:
https://www.jamieoliver.com/recipes/vegetables-recipes/classic-ratatouille/
https://www.ah.nl/allerhande/recept/R-R1193369/hartige-omgekeerde-preitaart-tarte-tatin
https://www.24kitchen.nl/recepten/spinazie-pompoenrisotto-met-feta
https://brendakookt.nl/2021/06/07/capresesalade-met-tortellini/

https://opensource.com/life/15/11/organize-your-cooking-open-source-recipe-manager


 -->

{{ end }}
