<div class="ui sticky pointing menu breadnav">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</div>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    <div class="item borderless">
      <i class="angle double right icon"></i>
    </div>
    <a href="{{ .p1.Permalink }}" class="item {{ if eq .p1 .p2 }}active{{ end }} borderless">
        {{ .p1.Title }}
    </a>
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    <a href="{{ .p1.Permalink }}" class="item {{ if eq .p1 .p2 }}active{{ end }} borderless">
        {{ .p1.Title }}
    </a>
  {{ else }}
    <a href="{{ .p1.Permalink }}" class="item {{ if eq .p1 .p2 }}active{{ end }} borderless">
        Home
    </a>
  {{ end }}

{{ end }}
