<div class="ui items">
<!-- {{ template "_internal/pagination.html" . }} -->

{{ range .Paginator.Pages.ByPublishDate.Reverse }}
  <div class="ui card" style="max-width: 100%; min-width: 100%;">
    <div class="content" style="padding: 0;">
      <div class="ui items">
        <div class="item">
          <!-- <a href="{{ .RelPermalink }}"></a> -->
          <a href="{{ .RelPermalink }}" class="ui medium image">
          {{ if eq .Type "book" }}
            {{ with .Resources.Match "*cover*" }}
              <!-- <div class="ui medium image"> -->
              {{ range . }}
                <img src="{{ .RelPermalink }}">
              {{ end }}
              <!-- </div> -->
            {{ end }}
          {{ else }}
            {{ $images := .Resources.Match "*finished*" }}
            {{ if gt (len $images) 0 }}
              {{ with $images }}
                <!-- <div class="ui medium image"> -->
                {{ range (first 1 .) }}
                  <img src="{{ .RelPermalink }}">
                {{ end }}
                <!-- </div> -->
              {{ end }}
            {{ else }}
                <!-- <div class="ui medium image"> -->
                  <img src="/img/image.png">
                <!-- </div> -->
            {{ end }}
          {{ end }}
          </a>
          <div class="content" style="padding: 1rem;">
            <a class="header" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="meta">
              <div class="rw-ui-container" data-title="{{.RelPermalink}}"></div><br />
              {{if isset .Params "tags"}}{{if gt (len .Params.tags) 0}}
              <i class="tags icon"></i>
              {{end}}{{end}}
              {{ range $value := .Params.tags }}
                <a class="ui label" href="/tags/{{ $value | urlize  }}">{{ $value | humanize }}</a>
              {{ end }}
            </div>
            <div class="description">
              <p>{{ .Summary }}</p>
            </div>
            <!-- <div class="extra">
            </div> -->
          </div>
        </div>
      </div>
    </div>
      {{ if isset .Params "categories" }}
        {{ if (gt (len .Params.categories) 0) }}
        <div class="extra content">
          Categories:
          {{ range $value := .Params.categories }}
            <a class="ui label" href="/categories/{{ $value | urlize  }}">{{ $value | humanize }}</a>
          {{ end }}
        </div>
        {{ end }}
      {{ end }}
  </div>
{{ end }}
</div>

{{- partial "pagination.html" . -}}
