<div class="rw-ui-container" data-title="{{.RelPermalink}}"></div><br />

{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<i class="calendar alternate outline icon"></i>
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time><br />

{{ with .Params.tags }}
<i class="tags icon"></i>
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
