<div class="ui stackable menu vertical inverted fluid nav{{if eq (.Scratch.Get "nav_type") "mobile"}}Mobile fixed sticky{{end}} left floated">
<!-- <div class="ui stackable menu vertical inverted fluid nav{{if eq (.Scratch.Get "nav_type") "mobile"}}Mobile{{end}}"> -->
  <div class="ui text header item centered borderless">
    <a class="ui centered" href="/">
      <img class="ui image small centered" src="{{ .Site.Params.logo }}" alt="" />
    </a>
  </div>
  <div class="ui text header item centered borderless fitted">
    {{ .Site.Title }}
  </div>


  <div class="ui search item borderless">
    <div class="ui fluid icon input">
      <input class="prompt" type="text" placeholder="Search...">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="results"></div>

  <div class="ui hidden divider"></div>

  <div class="item fitted">
    {{ range .Site.Menus.main }}
      <a class="nav-link item" href="{{ .URL }}">
      {{ if .Pre }}
        {{ $icon := printf "<i class=\"%s icon\"></i> " .Pre | safeHTML }}
        {{ $icon }}
      {{ end }}
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
    {{ end }}
  </div>

  <div class="ui hidden divider"></div>

  <div class="item">
    <div class="header">Recent</div>
    <div class="menu">
      {{- range ( first 5 .Site.RegularPages.ByDate.Reverse ) }}
        <a href="{{ .Permalink }}" class="item">{{ .PublishDate.Format "January 2, 2006" }} -
          <i class='{{if eq .Type "book"}}book{{ else }}utensils{{ end }} icon'></i> <b>{{ .Title }}</b></a>
      {{ end }}
    </div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="item">
    <div class="header">Categories</div>
    <div class="ui labels">
      {{ range $key, $value := .Site.Taxonomies.categories }}
        <a class="ui label" href="/categories/{{ $key | urlize  }}">{{ $key | humanize }} <div class="detail">{{ len $value }}</div></a>
      {{ end }}
    </div>
  </div>

  <div class="item borderless">
    <div class="header">Tags</div>
    <div class="ui labels">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a class="ui label" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }} <div class="detail">{{$taxonomy.Count}}</div></a>
    {{ end }}
    </div>
  </div>
</div>
